bin/
build/
reports/
.classpath
.project
.settings
.gradle
.metadata
derbyDB
pyvenv.cfg
test_database*
*.log
.emacs.*
.lock

/automation/vagrant/share/agent-integration-tests/
/automation/vagrant/share/agent_under_test/
/automation/vagrant/.vagrant
/license/java-agent-licenses.md.erb
/license/license_errors.txt
/newrelic-agent/src/main/resources/LICENSE

/functional_test/index/

.DS_Store
*.iws
*.ipr
*.iml
/out/
/.settings/
.idea
.idea/*

/instrumentation_check/verification.tap

/instrumentation_check/verification.xml

/agent-integration-tests/xml-reports/

/agent-integration-tests/test-artifacts/

/instrumentation_check/agent_under_test/

/automation/vagrant/share/.m2-ait/

/automation/vagrant/share/apps/
